body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  margin: 2em auto;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.time-block {
  border-top: 1px solid white;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto .15em;
  height: 80px;
}

.hour {
  background-color: #ffffff;
  border-top: 1px dashed #000000;
  display: inline-block;
  padding: 1em 1em 0 0;
  order: 1;
  flex: 1 1 75px;
  text-align: right;
  height: inherit;
}

textarea {
  background: transparent;
  border: none;
  border-left: 1px solid black;
  display: inline-block;
  flex: 3 1 500px;
  resize: none;
  width: 100%;
  white-space: pre-wrap;
  padding: 10px;
  height: inherit;
  text-align: left;
  line-height: 1.35em;
  order: 2;
}

button {
  border: none;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  display: inline-block;
  flex: 1 1 50px;
  order: 3;
  height: inherit;
  text-align: center;
  box-sizing: border-box;
  padding: .5em;
  font-weight: 1.2em;
  line-height: 1.2em;
}

.saveBtn:hover {
  background-color: #01758f;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}
